.env
node_modules/
backend/dist/
frontend/dist/
backend/node_modules/
frontend/node_modules/
.DS_Store
.vscode/
npm-debug.log
yarn-error.log
.idea/
*.log
coverage/
extracted/
vcr.yml
vcrBuild.sh
backend/.env
frontend/.env
